.resume-builder {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resume-builder-header {
    margin-bottom: 2%;
}
.resume-builder-input-child {
    margin-bottom: 5%;
    font-size: 20px;
}
.one-input {
    display: grid;
    grid-template-columns: repeat(2, 45%);
}
.one-or-more-input {
    display: grid;
    grid-template-columns: 45% 47.5% 7.5%;
}
.person-skills {
   margin-right: 5%;
}
.invisible {
    visibility: hidden;
}
.intro-textarea {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textarea-label{
    padding-bottom: 5%;
    padding-top: 5%;
}
.person-intro {
    resize: none;
    width: 100%;
    padding-bottom: 20%;
}
p {
    padding-top: 5%;
    margin-bottom: 5%;
    font-size: 20px;
    text-align: center;
}
.add-work, .remove-work, .remove-school, .remove-cert,
.add-school, .add-cert, .add-skill {
    font-size: 13px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.remove-work, .remove-school, .remove-cert {
    margin-bottom: 5%;
}
.work-label {
    margin-left: 20%;
}
.work-desc {
    margin-top: 5%;
    resize: none;
    width: 100%;
    padding-bottom: 20%;
}
.create-resume, .clear-form {
    font-size: 13px;
    margin-top: 10%;
}

